# .gitignore

# Unity
TFM/[Ll]ibrary/
TFM/[Tt]emp/
TFM/[Oo]bj/
TFM/[Bb]uild/
TFM/[Bb]uilds/
TFM/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
 
# Builds
*.apk
*.unitypackage
*.app
*.exe

